<a class="right pointer login-btn" (click)="logout()">Logout</a>
<a class="left pointer home-btn" (click)="home()">Home</a>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div >
  <br>
  <h4 class="cntr">Create a New Blog</h4>

  <div class="container p-t-50">
    <div class="row">
      <div class="offset-md-3 col-md-6 form-back">
        <div class="blog">
          <form [formGroup]="blogForm" (ngSubmit)="submitForm()" novalidate>
            <div class="form-group">
              <input type=text formControlName="title" class="form-control" placeholder="Enter title">
            </div>
            <div class="form-group">
              <input type=text formControlName="description" class="form-control" placeholder="Enter description">
            </div>

            <div class="form-group bg">
              <!-- <textarea formControlName="content" class="form-control" placeholder="Enter body"></textarea> -->
              <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" formControlName="content" style="height: 700px"></app-ngx-editor>
            </div>

            <div class="form-group">

              <input type=text formControlName="blogImage" class="form-control" placeholder="Image URL">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success">Publish</button>
            </div>
            <p>{{message}}</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
